
* {
  box-sizing: border-box;
}

html {
  font-family: font-family: 'Chilanka', cursive;
}

h1, h2 {
font-size: 20px;
font-family: 'Comfortaa', cursive;
}

p {
  line-height: 1.25;
}

a {
  text-decoration: none;
}

nav {
  text-align: center;
}

img {
  width: 90%;
  height: 400px;
  margin: 30px;
  border-radius: 10px;  
}
/*-------------------DESKTOP-------------------------------*/
.container {
  /* border: solid red; */
  width: 1000px;
  margin: 0 auto;
}

.container header {
  font-family: 'Chilanka', cursive;
}

.main-heading {
  font-size: 40px;
  color: crimson;
  text-align: center;
}

.nav-item {
  padding: 5px 40px;
  background: lightgray;
  border: 1px solid gray;
  margin: 10px 10px;
  border-radius: 5px;
  display: inline-block;
  color: black;
}

.first-paragh {
  text-align: center;
  font-size: 25px;
  padding: 10px;
  margin: 20px;
}

.login {
  font-size: 25px;
  background: #125172;
  color: white;
  font-family: 'Chilanka', cursive;
}

.login i {
padding: 10px;
}

#sign {
  background: #125172;
  color: white;
}

.middle-section {
  border-bottom: solid gray;
  border-top: solid gray;
  padding: 0 30px;
}

.middle-section h2 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding: 20px 0; 
}

.content-1 {
  display: flex;
  justify-content: space-around;
  font-family: 'Chilanka', cursive;
  padding: 15px 100px 10px ;
}

.content-1 p {
  width: 40%;
  text-align: center;
  font-size: 25px;
}

.content-1 i {
  display: flex;
  align-items: baseline;
  padding: 10px;
}

.reverse {
  display: flex;
  flex-direction: row-reverse;
}
/*---- Footer -----*/

.footer-1 {
/* border: solid red; */
display: flex;
justify-content: space-around;
}

.footer_main_heading {
  padding-top: 40px;
}

.footer-2 {
/* border: solid blue; */
display: flex;
flex-direction: row-reverse;
justify-content: space-between;
margin: 30px 30px;
}

.icons i {
  padding: 10px;
}

/*-------About --------*/

.about-content {
  /* border:solid green; */
  display: flex;
  border-bottom: 1px solid #808080;
}

.about-p {
  /* border: solid red; */
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  padding: 70px 50px 0; 
}

/*------------- TABLET ----*/

@media(max-width:800px) {
  .container {
    width: 100%;
    background-color: red;
  }

  .nav-item {
    font-size: 15px;
   
  }

  .content-text .content-1  {
    padding: 5px;    
  }

  footer .footer-1 .footer_main_heading {
    border-right: 1px solid gray;
    padding-right: 100px;  
  }

  .footer-2 {
    border-top: 1px solid gray;
    padding: 20px 0;
  }

  .footer-2 .footer-nav .nav-item {
    padding: 5px 20px;
    margin: 5px 5px;
  }
}

/*----- Mobile -----*/

@media(max-width:500px) {

  .container {
    width: 100%;
    background-color: green;
  }

  nav {
    height: 50px;
    display: flex;
    justify-content: center;
  }

  nav .nav-item {
    padding: 10px 5px 20px;
  }

  .second-header {
    padding-bottom: 10px;
  }

  .second-header nav .login  {
    display: flex;
  }

  .second-header nav i {
    padding-bottom: 50px;
    display: flex;
    align-items: center;
  }

  .middle-section h2 {
    text-align: center;
  }

  .content-text p {
    font-size: 20px;
  }
 
  .footer-1 .footer_main_heading {
    width: 50%;
    padding-left: 25px;
  }

  .footer-2 {
    display: flex;
    flex-direction: column-reverse;
  }

  .footer-2 .icons {
    display: flex;
    justify-content: center;
  }

  .footer-2 .icons i {
    padding: 40px;
  }

  .about-content {
    display: flex;
    flex-direction: column;
  }

.about-content .about-p {
  font-size: 25px;
  margin: 20px;
  text-align: center;
}
}