/* Universal Selector */

* {
  box-sizing: border-box;
}

/* Element Selector */

html {
  font-family: font-family: 'Chilanka', cursive;
}

h1, h2 {
font-size: 20px;
font-family: 'Comfortaa', cursive;
}

p {
  line-height: 1.25;
}

a {
  text-decoration: none;
}

nav {
  text-align: center;
}

img {
  width: 95%;
  height: 400px;
  margin: 30px;
  border-radius: 10px;  
  
}



/* Class Selector */
.container {
  
  width: 1000px;
  margin: 0 auto;
  padding-left: 20px;
}

.container header {
  font-family: 'Chilanka', cursive;
}

.main-heading {
  font-size: 40px;
  color: crimson;
  text-align: center;
}

.nav-item {
  padding: 5px 40px;
  background: lightgray;
  border: 1px solid gray;
  margin: 20px 20px;
  border-radius: 5px;
  display: inline-block;
  color: black;
}



.first-paragh {
  /* border: solid red; */
  text-align: center;
  font-size: 25px;
  padding: 10px;
  margin: 20px;
}

.login {
  font-size: 25px;
  background: #125172;
  color: white;
  font-family: 'Chilanka', cursive;
}

.login i {
padding: 10px;
}

/* Multiple Classes */
/* Pseudo Classes */

/* ID Selector */
#sign {
  background: #125172;
  color: white;
}

.middle-section {
  border-bottom: solid gray;
  border-top: solid gray;
  padding: 0 30px;
}

.middle-section h2 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding: 20px 0; 
}

.content-1 {
  display: flex;
  justify-content: space-around;
  font-family: 'Chilanka', cursive;
  padding: 15px 100px 10px ;
}

.content-1 p {
  width: 40%;
  text-align: center;
  font-size: 25px;
}

.content-1 i {
  display: flex;
  align-items: baseline;
  padding: 10px;
}

.reverse {
  display: flex;
  flex-direction: row-reverse;
}

footer .contact  {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  font-size: 20px;
  font-family: 'Chilanka', cursive;
}


.information {
  display: flex;
  justify-content: space-around;
}

.icons {
 
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.icons i {
  padding: 10px;
}

