/* Universal Selector */

* {
  box-sizing: border-box;
}

/* Element Selector */

html {
  font-family: font-family: 'Chilanka', cursive;
}

h1, h2 {
font-size: 20px;
font-family: 'Comfortaa', cursive;
}

p {
  line-height: 1.25;
}

a {
  text-decoration: none;
}

nav {
  text-align: center;
}

img {
  width: 100%;
  height: 400px;
  border-radius: 10px;
}



/* Class Selector */
.container {
  width: 800px;
  margin: 0 auto;
}

.container header {
  font-family: 'Chilanka', cursive;
}

.main-heading {
  font-size: 40px;
  color: crimson;
  text-align: center;
}

.nav-item {
  padding: 5px 40px;
  background: lightgray;
  border: 1px solid gray;
  margin: 20px 20px;
  border-radius: 5px;
  display: inline-block;
  color: black;
}

.first-paragh {
  /* border: solid red; */
  text-align: center;
  font-size: 25px;
  padding: 10px;
  margin: 20px;
}

.login {
  font-size: 25px;
  background: #125172;
  color: white;
  font-family: 'Chilanka', cursive;
}

.login i {
padding: 10px;
}

/* Multiple Classes */
/* Pseudo Classes */

/* ID Selector */
#sign {
  background: #125172;
  color: white;
}



